<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pick a stock</title>
    <link rel="stylesheet" href="../../navbar.css">
</head>
<body>
    <div th:insert="navigation/navbar :: navbar"></div>
    <h1>Find Stock value in USD</h1>
    <form action="#" th:action="@{/stock}" th:object="${stockForm}" method="post">
        <p>Ticker: <input type="text" th:field="*{ticker}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</body>
</html>