ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  border-radius: 5px;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  background: #206BA4;
  border-radius: 10px;
  width: 80px;
  height: 15px;
  margin: 10px 0;
}

#rcorners1 {
  border-radius: 10px;
  background: #0047AB;
  padding: 10px;
  width: 70px;
  height: 15px;
}