<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Shares</title>
    <link rel="stylesheet" href="../../../index_table.css">
    <link rel="stylesheet" href="../../../navbar.css">
</head>
<body>
<div th:insert="navigation/navbar :: navbar"></div>
<h1 style="text-align:center;text-decoration: underline;" th:text="${symbol}"></h1>
<h2 style="text-align:center;text-decoration: underline;" th:text="'Price: ' + ${#numbers.formatCurrency(currentPrice)}"></h2>
<div>
  <table class="center">
    <tr>
      <th>Date</th>
      <th>Paid</th>
      <th>Amount</th>
    </tr>
    <tr th:each="cryptoShare, Cryptos: ${cryptoShares}">
      <td th:text="${#temporals.format(cryptoShare.timeBought,'dd-MM-yyyy')}"></td>
      <td th:text="${cryptoShare.purchasePrice}"></td>
      <td th:text="${cryptoShare.fraction}"></td>
    </tr>
  </table>
</div>
</body>
</html>