<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <link rel="stylesheet" href="../../navbar.css">
</head>
<body>
    <div th:insert="navigation/navbar :: navbar"></div>
    <h1>User</h1>
    <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
        <p>User user name: <input type="text" th:field="*{username}"/></p>
        <p th:if="${registrationError}">
            <span th:text="${registrationError}"></span>
        </p>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User name invalid</p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</body>
</html>