<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock List</title>
    <link rel="stylesheet" href="../../navbar.css">
</head>
<body>
<div th:insert="navigation/navbar :: navbar"></div>
<div>
    <span th:text="${portfolio.name}"></span>
</div>
<div>
    <table>
        <tr>
            <th>Share</th>
            <th>Initial Price</th>
            <th>Actual Price</th>
        </tr>
        <tr th:each="share, Shares: ${portfolio.shares}">
            <td th:text="${share.ticker}"></td>
            <td th:text="${share.boughtPrice}"></td>
            <td th:text="${share.stock.currentPrice}"></td>
            <td>
                <form action="#" th:action="@{/user/stocks/remove/}" method="post">
                    <input type="hidden" name="shareId" th:value="${share.id}"/>
                    <input type="hidden" name="portfolioName" th:value="${portfolio.name}"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<p>
    <span th:text="'Total : ' + ${portfolio.portfolioValue}"></span>
</p>
</body>
</html>