<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Stock List</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
    }
  </style>
</head>
<body>
  <div th:insert="navigation/navbar :: navbar"></div>

  <div>
    <table>
      <tr>
        <th>Stock</th>
        <th>Initial Price</th>
        <th>Actual Price</th>
      </tr>
      <tr th:each="stock, Stock: ${stocks}">
        <td th:text="${stock.ticker}"></td>
        <td th:text="${stock.boughtPrice}"></td>
        <td th:text="${stock.currentPrice}"></td>
      </tr>
    </table>
  </div>

  <p>
    <span th:text="'Total : ' + ${portfolioValue}"></span>
  </p>
</body>
</html>