<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../navbar.css">
    <link rel="stylesheet" href="../index_form.css">
    <link rel="stylesheet" href="../background.css">
    <style>

    </style>
</head>
<body>
<div th:insert="navigation/navbar :: navbar"></div>
<div class="search">
<form action="#" th:action="@{/crypto}" th:object="${cryptoForm}" method="post">
    <div style="text-align:center;color:red" th:if="${#fields.hasErrors('symbol')}" th:errors="*{symbol}">error</div>
    <label for="crypto">Cryptocurrency</label>
    <input type="text" th:field="*{symbol}" id="crypto" placeholder="Symbol..."/><input type="submit" value="Go"/>
</form>
</div>

<div class="search">
<form action="#" th:action="@{/stock}" th:object="${stockForm}" method="post">
    <div style="text-align:center;color:red" th:if="${#fields.hasErrors('ticker')}" th:errors="*{ticker}">error</div>
    <label for="stock">Stock</label>
    <input type="text" id="stock" th:field="*{ticker}" placeholder="Ticker..."/> <input type="submit" value="Go"/>
</form>
</div>
<div class="search" th:if="${price}" style="text-align:center; font:20px;">
    <span th:text="${asset} + ' : ' + ${#numbers.formatCurrency(price)}"></span>
</div>
</body>

</html>