<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../navbar.css">
    <link rel="stylesheet" href="../index_form.css">
    <link rel="stylesheet" href="../background.css">
</head>
<body>
<div th:insert="navigation/navbar :: navbar"></div>
<form action="#" th:action="@{/crypto}" th:object="${coin}" method="post">
    <p><input type="text" th:field="*{symbol}" placeholder="Cryptocurrency symbol"/><input type="submit" value="Go"/></p>
    <p th:if="${coinPrice}">
        <span th:text="${coinSymbol} + ' : ' + ${coinPrice}"></span>
    </p>
</form>

<form action="#" th:action="@{/stock}" th:object="${stock}" method="post">
    <p><input type="text" th:field="*{ticker}" placeholder="Stock ticker"/> <input type="submit" value="Go"/></p>
    <p th:if="${stockPrice}">
        <span th:text="${stockTicker} + ' : ' + ${stockPrice}"></span>
    </p>
</form>
</body>

</html>