<html>
<body>
  <div th:fragment="navbar">
    <hr>
    <p style="font:bold">
      <a href="/users/list"><button>List Users</button></a>
      <a href="/stocks/add"><button>Add Stocks</button></a>
      <a href="/users/add"><button>Add User</button></a>
      <a href="/stock"><button>Find stock price</button></a>
      <a href="/users/stocks/list"><button>List Stocks for user</button></a>
      <a href="/users/find"><button>Find user</button></a>
      <a href="/main"><button>Main Prage</button></a>
    </p>
    <hr>
  </div>
</body>

</html>