<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <a href="/main">
        <button>Main Page
        </button>
    </a>
    <title>Add user</title>
</head>
<body>
<h1>User</h1>
<form action="#" th:action="@{/stocks/add}" method="post">
    <p>Stock to add: <input type="text" th:field="*{stock.ticker}"/></p>
    <p>User: <input type="text" th:field="*{user.nickname}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>