<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="navbar">
    <ul>
        <li style="float:right"><a href="/index">Main Prage</a></li>
        <li><a href="/stock">Find stock price</a></li>
        <li sec:authorize="isAnonymous()"><a href="/user">Sign in</a></li>
        <li sec:authorize="isAnonymous()"><a href="/registration">Register</a></li>
        <li sec:authorize="hasAuthority('ROLE_USER')"><a href="/user/stocks/list">Your Portfolio</a></li>
        <li sec:authorize="hasAuthority('ROLE_USER')"><a href="/user/stocks/add">Add a share</a></li>
        <li sec:authorize="hasAuthority('ROLE_USER')"><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>

</html>