<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../background.css">
</head>
<body>
    <div th:insert="navigation/navbar :: navbar"></div>
    <h1> Stock to add</h1>
    <form action="#" th:action="@{/portfolio/share/add}" th:object="${share}" method="post">
        <p>Ticker: <input type="text" th:field="*{ticker}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        <p th:if="${shareAdded}">
            <span th:text="${shareAdded}"></span>
        </p>
    </form>

    <form action="#" th:action="@{/portfolio/crypto/add}" th:object="${coin}" method="post">
        <p>Ticker: <input type="text" th:field="*{symbol}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        <p th:if="${coinAdded}">
            <span th:text="${coinAdded}"></span>
        </p>
    </form>
</body>
</html>