<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock List</title>
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../../background.css">
    <link rel="stylesheet" href="../../index_table.css">
</head>
<body>
<div th:insert="navigation/navbar :: navbar"></div>
<p>
    <span th:text="${portfolio.name}"></span>
</p>
<p>
    <span th:text="'Total value of portfolio : ' + ${portfolio.portfolioValue}"></span>
</p>
<h1> Stocks </h1>
<form action="#" th:action="@{/portfolio/share/add}" th:object="${share}" method="post">
    <p>Ticker: <input type="text" th:field="*{ticker}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    <p th:if="${shareAdded}">
        <span th:text="${shareAdded}"></span>
    </p>
</form>
<div>
    <table>
        <tr>
            <th>Company</th>
            <th>Ticker</th>
            <th>Initial Price</th>
            <th>Actual Price</th>
            <th>Percentage Change</th>
            <th>Value Change</th>
        </tr>
        <tr th:each="share, Shares: ${shares}">
            <td th:text="${share.company}"></td>
            <td th:text="${share.ticker}"></td>
            <td th:text="${share.boughtPrice} + ' $'"></td>
            <td th:text="${share.currentPrice}+ ' $'"></td>
            <td th:style="|${share.percentageChange < 0 ? 'color: red;' : 'color: green;'}|" th:text="${share.percentageChange} + '%'"></td>
            <td th:style="|${share.valueChange < 0 ? 'color: red;' : 'color: green;'}|" th:text="${share.valueChange}"></td>
            <td>
                <form action="#" th:action="@{/portfolio/share/remove/}" method="post">
                    <input type="hidden" name="shareId" th:value="${share.id}"/>
                    <input type="hidden" name="portfolioName" th:value="${portfolio.name}"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<h1> Crypto Currencies </h1>
<form action="#" th:action="@{/portfolio/crypto/add}" th:object="${cryptoShare}" method="post">
    <p>Symbol: <input type="text" th:field="*{symbol}"/></p>
    <p>Amount: <input type="text" th:field="*{amount}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    <p th:if="${coinAdded}">
        <span th:text="${coinAdded}"></span>
    </p>
</form>
<div>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Amount</th>
            <th>Initial Price</th>
            <th>Actual Price</th>
            <th>Percentage Change</th>
            <th>Value Change</th>
        </tr>
        <tr th:each="cryptoShare, Coins: ${coins}">
            <td th:text="${cryptoShare.symbol}"></td>
            <td th:text="${cryptoShare.amount}"></td>
            <td th:text="${cryptoShare.boughtPrice}+ ' $'"></td>
            <td th:text="${cryptoShare.currentPrice}+ ' $'"></td>
            <td th:style="|${T(java.lang.Double).parseDouble(cryptoShare.percentageChange) < 0 ? 'color: red;' : 'color: green;'}|" th:text="${cryptoShare.percentageChange} + '%'"></td>
            <td th:style="|${T(java.lang.Double).parseDouble(cryptoShare.valueChange) < 0 ? 'color: red;' : 'color: green;'}|" th:text="${cryptoShare.valueChange}"></td>
            <td>
                <form action="#" th:action="@{/portfolio/crypto/remove/}" method="post">
                    <input type="hidden" name="cryptoId" th:value="${cryptoShare.id}"/>
                    <input type="hidden" name="portfolioName" th:value="${portfolio.name}"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>