<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock List</title>
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../../background.css">
    <link rel="stylesheet" href="../../index_table.css">
    <link rel="stylesheet" href="../../show.css">
</head>
<body>
<div th:insert="navigation/navbar :: navbar"></div>
<h1  style="text-align:center" th:text="${portfolio.name}"></h1>
<h2  style="text-align:center;" th:text="'Portfolio value : ' + ${#numbers.formatCurrency(portfolio.portfolioValue)}"></h2>
<h3 style="text-align:center;"> Stocks </h3>
<form action="#" th:action="@{/portfolio/stockshare/add}" th:object="${stockShare}" method="post">
    <p style="text-align:center;">
        Ticker: <input type="text" th:field="*{ticker}"/>
        Amount: <input type="number" th:field="*{amount}"/>
        Price:  <input type="number" th:field="*{price}"/>
        <input type="submit" value="Add"/>
    </p>
</form>
<div>
    <table class="center">
        <tr>
            <th>Company</th>
            <th>Ticker</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Holdings</th>
            <th>Percentage Change</th>
            <th>Value Change</th>
        </tr>
        <tr th:each="stockShare, Shares: ${stockShares}">
            <td th:text="${stockShare.company}"></td>
            <td th:text="${stockShare.ticker}"></td>
            <td th:text="${#numbers.formatCurrency(stockShare.currentPrice)}"></td>
            <td th:text="${stockShare.amount}"></td>
            <td th:text="${#numbers.formatCurrency(stockShare.holdings)}"></td>
            <td th:style="|${stockShare.percentageChange < 0 ? 'color: red;' : 'color: green;'}|" th:text="${stockShare.percentageChange} + '%'"></td>
            <td th:style="|${stockShare.valueChange < 0 ? 'color: red;' : 'color: green;'}|" th:text="${stockShare.valueChange}"></td>
            <td>
                <form action="#" th:action="@{/portfolio/stockshare/details/}" method="post">
                    <input type="hidden" name="ticker" th:value="${stockShare.ticker}"/>
                    <input type="submit" value="Details" class="btn btn-info"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<h3 style="text-align:center"> Crypto Currencies </h3>
<form style="text-align:center" action="#" th:action="@{/portfolio/cryptoshare/add}" th:object="${cryptoShare}" method="post">
    <p style="text-align:center">
        Symbol: <input type="text" th:field="*{symbol}"/>
        Amount: <input type="number" step="any" th:field="*{amount}"/>
        Price:  <input type="number" step="any" th:field="*{price}"/>
        <input type="submit" value="Add"/>
    </p>
    <span style="color:red; text-align:center;" th:if="${NotFoundError}">Cryptocurrency not found</span>
    <span style="color:red; text-align:center;" th:if="${InvalidAmount}">Invalid amount</span>
</form>
<div>
    <table class="center">
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Holdings</th>
            <th>Percentage Change</th>
            <th>Value Change</th>
        </tr>
        <tr th:each="cryptoShare, Coins: ${cryptoShares}">
            <td th:text="${cryptoShare.symbol}"></td>
            <td th:text="${#numbers.formatCurrency(cryptoShare.currentPrice)}"></td>
            <td th:text="${cryptoShare.amount}"></td>
            <td th:text="${#numbers.formatCurrency(cryptoShare.holdings)}"></td>
            <td th:style="|${T(java.lang.Double).parseDouble(cryptoShare.percentageChange) < 0 ? 'color: red;' : 'color: green;'}|" th:text="${cryptoShare.percentageChange} + '%'"></td>
            <td th:style="|${T(java.lang.Double).parseDouble(cryptoShare.valueChange) < 0 ? 'color: red;' : 'color: green;'}|" th:text="${cryptoShare.valueChange}"></td>
            <td>
                <form action="#" th:action="@{/portfolio/cryptoshare/details/}" method="post">
                    <input type="hidden" name="symbol" th:value="${cryptoShare.symbol}"/>
                    <input type="submit" value="Details" class="btn btn-info"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>